In [16]:
L=[28,50,'lb', 8.5]
print(type(L))
print(len(L))
print(L[:-2])

<class 'list'>
4
[28, 50]

In [19]:
for i in L:
  print(i)

28
50
lb
8.5

In [49]:
#for j in range(11,1,-3):
#  print(j)

for k in range(5,1):
  print(k)

print(range(11,1,-3))

range(11, 1, -3)

**Q**
count the occurance of a number in a list:

In [34]:
List1=[1,2,4,3,5,2,4,6,1,3,5,3,8,0,0,3,2]

c=0
n=int(input('enter no. to search'))

for i in List1 : 
  if i==n :
    c=c+1
print('no. of', n ,':', c)

enter no. to search8
no. of 8 : 1

In [45]:
T=(123, 5.2, 'dhriti')
print(T[0:2])
l2=[5,4,3,2,1]

l2[0]=l2[0] + 2
print(l2)

#T[0] = 321 tuple is immutable
#print(T)

(123, 5.2)
[7, 4, 3, 2, 1]

# **PRO-C98**
**Q** create a python program in which the user enters a number along with the lower and upper range limit to find all numbers divisible by an entered number.

In [46]:
l=int(input('enter lower limit: '))
u=int(input('enter upper limit: '))
n=int(input('enter the number to divide by: '))

for i in range(l,u):
  if i%n==0 :
    print(i)

enter lower limit: 4
enter upper limit: 17
enter the number to divide by: 2
4
6
8
10
12
14
16